.alert.alert-warning.alert-dismissible.fade.show.mb-0(role='alert')
  strong COVID-19 : 
  |  Page is not serviceable due to covid-19, hope to
  | &#x9;see you soon!!!
  button.close(type='button' data-dismiss='alert' aria-label='Close')
    span(aria-hidden='true') &times;
