.footer-v1.bg-img.py-5.foot
  .footer.no-margin
    .container
      .row
        .col-md-4.py-3
          center
            img.img-fluid.p-1.bg-light(src='/img/vantage.jpg' style='height:120px!important' alt='')
          br
          br
          h2.lead.text-light.pl-5(style='font-size:160%;') Conquer the Himalayas...!!!
        .col-md-4
          .headline
            p.lead.text-light.font-weight-bold Posts
          ul.list-unstyled.link-list
            li
              a(href='#') Blogs
            li.text-light
              | We are also working with bloggers and vloggers who are working to spread the pahadi culture that needs to be preserved so have a look right here.
        .col-md-4
          .headline
            p.lead.text-light.font-weight-bold Support
          address
            ul.list-unstyled.link-list
              li
                a(href='#') Contact Us
              li
                span.text-light
                  i.fa.fa-envelope
                span.text-light  EMAIL:
                a.text-light(href='#')
                  | conquerthehimalayas@gmail.com
              li.text-light
                | PHONE NUMBER: +91-7838690429
      center
        hr.bg-light.text-center.w-75
      .row.justify-content-center.pl-5
        p.lead.text-light &copy; ConquerTheHimalayas
